{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row">
		{% for link in links %}
			<div class="col-xs-6">
			    <h2 class="alert alert-info" >
                           <a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></h2>
                             <div class="teste_jquery" >    
			    <p>{{ link.desc }}</p>
			    <a href="{{ link.url }}" title="" target="_blank">Open ></a>
                              <span class="glyphicon glyphicon-star"> </span>

			    <em>(by {{ link.user.username }})</em>
                             
			    {% for tag in link.tags %}
			    	<a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
			    		{{ tag.title }}
			    	</a>
			    {% endfor %}
                        </div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
